.overly {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(155, 155, 155, 0.45);
    color: #de0028;
    font-size: large;
    display:flex;
    justify-content: center;
    align-items: center;
  }
.fa-solid{
    font-size: 200px;
    -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
}

@-webkit-keyframes bounce{
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@keyframes bounce{
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}