<nav class="header-div">
  <div class="header">
    <div class="contenedor">
      <img src="assets/images/logo.jpeg" (click)="sidebarmenu()"/>
      <div class="right-justify">
        <p class="menu-text"><span *ngIf="user!=undefined" class="fa-solid fa-user"></span><span class="headerInfo">{{getUserName()}}</span></p>
        <p class="menu-text"><span *ngIf="user!=undefined" class="fa-solid fa-gear"></span><span class="headerInfo">{{getRolName()}}</span></p>
      </div>
    </div>
  </div>
</nav>
    